@import "colors";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
// container
.container {
  height: 100vh;
  width: 100vw;
  background-color: $app-gray;
}
// end container

// home
.home {
  display: flex;
}
// end home

// navbar
.navbar {
  display: flex;
}
// end navbar
